FROM maven:3.2-jdk-7-onbuild
MAINTAINER  Ramesh Thangamuthu <Ramesh.Thangamuthu@aricent.com>
RUN mkdir -p /tmp/run
ADD sample.tar /tmp/run
RUN cd /tmp/run &&  jar -xvf spring3-mvc-maven-xml-hello-world-1.0-SNAPSHOT.war
WORKDIR /tmp/run
CMD mvn jetty:run
#CMD echo hello
# Start testing
#CMD echo testingStarted
#COPY pom.xml /usr/src/testng/
WORKDIR /tmp/
# Get a clean build immediately after and 'go-offline' to improve subsequent builds
#RUN cd /usr/src/testng && mvn dependency:go-offline
#COPY src /usr/src/testng/src
#WORKDIR /usr/src/testng/

# Additional support files that's needed but not for the build
#COPY supportfiles /usr/src/testng/supportfiles
#CMD [ "mvn -Dtest=TestDocker" ]
#CMD [ "mvn test" ]
